---
interface Props {
  content: string
}
const { content } = Astro.props as Props
---

<div
  class="border-2 border-stone-100/10 h-full py-2 px-[.8rem] rounded-xl bg-stone-100/5 hover:border-stone-100 hover:bg-stone-100/30 hover:cursor-pointer transition-all duration-150">
  <button class="font-extrabold text-lg tracking-wider"> {content}</button>
</div>
