---
import Social from "./Social.astro";
import Links from "./Links.astro";
---

<footer class="flex justify-between">
  <div>
    <h5>&copy 2023 Max Kobiela</h5>
  </div>
  <div>
    <Social />
  </div>
  <Links />
</footer>
