---
import Logo from '../assets/Logo.astro'
import CTA from './CTA.astro'
import Icon from 'astro-iconify'
import Social from './Social.astro'
---

<footer class="flex flex-col justify-between items-center bg-stone-900 px-16">
  <div
    class="flex flex-row justify-between items-start h-full w-full py-14 pt-24">
    <!-- LOGO -->
    <div class="h-full justify-between">
      <Logo width={240} />
      <h1 class="text-stone-100 font-light text-2xl mt-12">
        re-imagining the world <br /> based in <it class="italic">Poland</it>
      </h1>
    </div>
    <div class="flex flex-col space-y-10">
      <div class="text-stone-100 flex items-center">
        <a href="#">Book your meeting</a>
        <Icon
          class="-rotate-90 w-12 ml-8"
          name="cil:arrow-bottom"
        />
      </div>
      <div class="flex h-full flex-col text-stone-100">
        <h1 class="font-light">Email for Marketing</h1>
        <a
          href="#"
          class="text-xl font-bold underline"
          >marketing@maxkobiela.com</a
        >
      </div>
      <div class="flex h-full flex-col text-stone-100">
        <h1 class="font-light">Phone numbers</h1>
        <a
          href="#"
          class="text-2xl font-bold tracking-wider"
          >+48 - 512456845</a
        >
        <a
          href="#"
          class="text-2xl font-bold tracking-wider"
          >+48 - 554215465</a
        >
      </div>
    </div>
  </div>
  <span class="bg-stone-100/30 w-full h-px"></span>
  <div class="w-full py-12">
    <Social />
  </div>
</footer>
