---
import Icon from 'astro-iconify'
---

<div class="w-full">
  <ul class="flex space-x-4">
    <li>
      <a href="#">
        <Icon
          class="text-stone-100/50 w-12 hover:text-stone-100 transition-all"
          name="ic:baseline-facebook"
        />
      </a>
    </li>
    <li>
      <a href="#">
        <Icon
          class="text-stone-100/50 w-12 hover:text-stone-100 transition-all"
          name="mdi:instagram"
        />
      </a>
    </li>
    <li>
      <a href="#">
        <Icon
          class="text-stone-100/50 w-12 hover:text-stone-100 transition-all"
          name="ri:twitter-line"
        />
      </a>
    </li>
  </ul>
</div>
