---
export interface Props {
  src?: string;
  alt?: string;
  width?: number;
}

const {
  src = "./images/logo-dark.svg",
  alt,
  width = 110,
} = Astro.props as Props;
---

<a href="/">
  <span>
    <img {src} {alt} {width} />
  </span>
</a>
