---
---

<div class="min-h-full w-full px-8 py-16 mx-auto">
  <div
    class="border-stone-900 border-4 min-h-screen rounded-xl justify-center items-center flex">
    <h1 class="text-5xl text-stone-900">Section C</h1>
  </div>
</div>
