---
const slides = await Astro.glob("../../img/slideshow/*.webp");
const image = slides[0].default;
---

<div class="flex flex-col w-full" x-data="Data()">
  <div class="flex-1 overflow-hidden -translate-x-[15%]">
    <img class="w-full h-full object-cover" src={image} alt="" />
  </div>
  <div class="mx-auto flex flex-col h-[20%] p-6 text-sm items-center">
    <h1>Kolekcja mebli tapicerowanych <b>TRIPLE</b>, <b>LEFIOLA</b>, PL</h1>
    <h1 x-text="message"></h1>
    <h3 class="text-xs">D. Design/Wzornictwo meblowe</h3>
    <div class="mt-4 flex space-x-2">
      <span class="w-1 h-1 block bg-black rounded-full"></span>
    </div>
  </div>
</div>

<script is:inline>
console.log("This comes from the slides");
</script>
